@import "../lib/styles/positionCSS.module.scss";

// 전체 폼
.Login {
  margin: 0 auto;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  @include verticalCSS();
}

.Login .LoginButton {
  @include horizontalCSS();
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.LoginButton p {
  cursor: pointer;
}

.Login .Information {
  @include horizontalCSS();
  justify-content: space-between;
  width: 80%;
  margin-bottom: 20px;
}

.Login .Information .Join {
  @include horizontalCSS();
  height: 50px;
  cursor: pointer;
}

.Login .Information .Join .babo {
  @include horizontalCSS();
  color: white;
  font-weight: bold;
  border: 0;
  background: linear-gradient(to bottom, #58acfa, #0080ff);
  box-shadow: 0px 0px 10px rgba(108, 150, 240, 0.233);
  width: 100px;
  height: 40px;
}

.Login .Information .Find {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  background: linear-gradient(to bottom, #58acfa, #0080ff);
  width: 100px;
  height: 40px;
}

.Login .Find p {
  cursor: pointer;
  color: white;
  font-weight: 500;
}

.Login p:nth-child(2) {
  cursor: default;
}

// 외부 CSS
.Login .form {
  width: 80%;
}

.Login form {
  @include verticalCSS();
  width: 100%;
}

.LoginButton button {
  flex: 1;
}
