@import "../lib/styles/positionCSS.module.scss";

.body {
  @include verticalCSS();
  border: 1px solid black;
  padding: 10px;
  button {
    width: 200px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
