@import "../lib/styles/positionCSS.module.scss";

.CompJoin {
  margin: 0 auto;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  @include verticalCSS();
}

// 회원가입
.CompHead {
  width: 80%;
  align-items: flex-start;
}

.CompRequest {
  @include horizontalCSS();
  cursor: pointer;
  width: 80%;
  margin-bottom: 20px;
  border: 1px solid black;
}

// 외부 CSS
.CompJoin form {
  @include verticalCSS();
  width: 80%;
  margin-bottom: 30px;
}

.CompJoin .formButton {
  @include horizontalCSS();
  width: 100%;
  margin-top: 20px;
}

.CompJoin form button {
  flex: 1;
}
