@import "../lib/styles/positionCSS.module.scss";

@mixin formTag() {
  @include horizontalCSS();
  border: 1px solid black;
}
.Form {
  width: 100%;
}

.formMulti {
  width: 100%;
  @include formTag();
}

.formTag p {
  display: flex;
  align-items: center;
  width: 80px;
  border: 1px solid black;
}

.formTag input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  height: 7%;
  flex: 1;
}
