@import "../lib/styles/positionCSS.module.scss";

.utilsMultiMenu {
  @include horizontalCSS();
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;

  @media (max-width: 768px) {
    margin: 0px 10px 0px 10px;
  }
  @media (max-width: 590px) {
    @include verticalCSS();
  }
}

.utilsMenuBox {
  @include horizontalCSS();
  border-radius: 0.2rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  flex: 1;
  height: 100%;
  cursor: pointer;

  p {
    letter-spacing: 3px;
    font-size: 24px;
    font-weight: 500;
  }

  @media (max-width: 768px) {
    p {
      font-size: 20px;
    }
  }

  @media (max-width: 590px) {
    width: 95%;
    min-height: 120px;
    margin-bottom: 1px;
    border-radius: 0.5rem;
    &:first-child {
      margin-top: 1px;
    }
  }
}

.utilsMenuText {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-shadow: 1px 1px 11px #8c8c8c;

  @media (max-width: 768px) {
    writing-mode: initial;
    text-orientation: initial;
  }
}

.utilsMultiMenu :hover {
  color: white;
}
